@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-BoldItalic.woff2') format('woff2'),
        url('NeutraText-BoldItalic.woff') format('woff'),
        url('NeutraText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Book.woff2') format('woff2'),
        url('NeutraText-Book.woff') format('woff'),
        url('NeutraText-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Bold.woff2') format('woff2'),
        url('NeutraText-Bold.woff') format('woff'),
        url('NeutraText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-BookItalic.woff2') format('woff2'),
        url('NeutraText-BookItalic.woff') format('woff'),
        url('NeutraText-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

